/**
* @file
* Subtheme specific CSS.
*/
/* Yazi Ayarlari */
blockquote{
  font-size: 24px;
  font-weight: 600;
  padding: 10px 30px;
  position: relative;
  margin: 8% 0;
}
blockquote::before {
  content:"";
  position: absolute;
  top:0;
  left: 0;
  width: 60%;
  border-top:2px solid;
}
blockquote::after {
  content:"";
  position: absolute;
  bottom:0;
  right: 0;
  width: 60%;
  border-top:2px solid;
}
blockquote p{
  position: relative;
}
blockquote p:before {
  content: "";
  border-left: 2px solid;
  height: 40px;
  position: absolute;
  top: -20px;
  left: -20px;
}
blockquote p:after {
  content: "";
  border-left: 2px solid;
  height: 40px;
  position: absolute;
  bottom: -35px;
  right: -20px;
}
/* Sistem Ayarlari */
.header {
  position: sticky !important;
  top:0 !important;
  background: #fff !important;
  z-index: 99;
}
li:hover > ul {
  display: block;
  transition: 0.2s all ease-in-out !important;
}
ul, li {
  transition: 0.2s all ease-in-out !important;
}
.navbar-expand-lg .navbar-nav .dropdown-item:hover {
  background: none !important;
}
.highlighted .container {
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}
.highlighted .row > * {
  padding: 0 !important;
}
.highlighted {
  margin-bottom: 4%;
}
.layout--twocol-section .layout__region.layout__region--first {
  padding: 0 1em 0 0;
}
h1.title {
  text-align: center;
  color: #000 !important;
}
/*
.highlighted:before{
  content: "";
  background: url('../images/title-background.jpg');
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.4;
  background-position: 0px;
  width: 100%;
  height: 120px;
  transition: 0.2s all ease-in-out;
}
.highlighted:hover.highlighted:before {
  transition: 0.2s all ease-in-out;
  background-position-y: -20px;
}*/
h1.title {
  padding-top:2%;
  /*color: #fff !important;
  text-shadow: 2px 1px #000;*/
}
.site-footer .block {
  margin: 0 0 0 0 !important;
  border: none !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #575757 !important;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar-expand-lg .navbar-nav .nav-link:hover, .navbar-expand-lg .navbar-nav .nav-link.is-active {
  color: #000 !important;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: unset !important;
}
.dropdown-item a {
  color: #575757 !important;
  text-decoration: none;
}
.dropdown-item a:hover {
  color: #000 !important;
}
.region-top-header-form {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.featured-bottom .container {
  max-width: 100%;
  margin:0 !important;
  padding: 0 !important;;
}
.featured-bottom .region-featured-bottom-first, .featured-bottom .region-featured-bottom-third {
  max-width: 1320px;
  margin: 0 auto 3%;
}
.featured-bottom .region-featured-bottom-second {
  background: url('../images/industrial-machinery-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
  margin-bottom: 2%;
}
.site-footer .nav-item {
  margin-top: 1em;
}
.site-footer #block-etibilisim-barrio-iletisimalt .fontawesome-icon-inline {
  color: #ea130e;
}
.site-footer p {
  color: #fff !important;
}
.site-footer .nav-item .nav-link {
  color: #fff;
  position: relative;
  transition: 0.2s all ease-in-out;
}
.site-footer .nav-item .nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #fff;
  width: 50px;
  transition: 0.2s all ease-in-out !important;
}
.site-footer .nav-item .nav-link:hover.nav-link:before {
  left: 10px;
  width: 80px;
  transition: 0.2s all ease-in-out;
}
img.align-left {
  margin: 2% 2% 2% 0;
  border-right: 30px solid #ea130e;
  border-bottom: 30px solid #ea130e;
}
img.align-right {
  margin: 2% 0 2% 2%;
  border-left: 30px solid #ea130e;
  border-bottom: 30px solid #ea130e;
}
img.align-center {
  margin: 2% 0;
  border-top: 30px solid #ea130e;
  border-bottom: 30px solid #ea130e;
}
.page-item.active .page-link {
  background-color: #ea130e !important;
  border-color: #ea130e !important;
  color: #fff !important;
}
.page-link {
  color: #ea130e !important;
}
.more-link {
  width: 100%;
  text-align: center;
}
.more-link a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  color: #fff;
  background: #ea130e;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #ea130e;
  transition: 0.2s all ease-in-out;
}
.more-link a:hover {
  transition: 0.2s all ease-in-out;
  background: #fff;
}
.layout--twocol-section {
  width: 100% !important;
}
.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}
/***************************************************************/
/* Ust Blok Ayarlari */
#navbar-top{
  color: #fff !important;
}
#navbar-top .language-icon {
  color: #fff !important;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 0 !important;
  width: 36px !important;
  height:27px !important;
  border-radius: 50%;
}
#navbar-top a.language-link.is-active .language-icon{
  border: 4px solid #fff;
}
#navbar-top .language-icon:hover{
  border: 4px solid #fff;
}
.navbar-brand img {
  max-height: 120px;
  width: auto;
  padding: 20px;
}
#block-etibilisim-barrio-views-block-anasayfa-slider-block-1 .view .row {
  padding: 0 !important;
  margin: 0 !important;
}
.iletisim-ust {
  color: #fff !important;;
  font-size: initial !important;
  padding: 1% 0 0 5px;
  display: flex;
}
.iletisim-ust a {
  text-decoration: none;
  color: #fff !important;
  font-size: 14px !important;
}
.iletisim-ust-adres, .iletisim-ust-eposta, .iletisim-ust-telefon, .iletisim-ust-whatsapp {
  margin-right: 1vw;
}
#block-dildegistirici {
  display: block;
  margin: 0 auto !important;
  float: left;
}
#block-dildegistirici-2 {
  display: none;
}
/***************************************************************/
/* Anasayfa Slider Ayarlari */
.flexslider {
  border: none !important;
  margin-bottom: 0;
}
.flex-direction-nav a{
  height: 50px !important;
  width: 50px !important;
}
#anasayfa-slider{
  position: relative;
}
#anasayfa-slider-gorsel img{
  border-radius: 0 !important;
  width: 100% !important;
  height: auto !important;
}
#anasayfa-slider-yazi{
  position: absolute;
  bottom: 35%;
  left: 0;
  width: 100%;
  text-align: center;
}
#anasayfa-slider-baslik h1{
  color:#fff !important;
  font-weight: 700;
  text-shadow: 2px 1px #222;
  margin: 0 auto;
  max-width: 40%;
  font-size: 5em !important;
}
#anasayfa-slider-metin p{
  color: #fff !important;
  font-size: 2em !important;
  font-weight: 700 !important;
  text-shadow: 3px 1px 5px #000 !important;
}
#anasayfa-slider-metin {
  margin: 0 auto 30px !important;
  max-width: 40%;
}
#anasayfa-slider-baglanti a{
  color:#fff;
  font-size: 18px;
  border:2px solid #fff;
  padding: 1em 3em;
  border-radius: 5px;
  box-shadow: 2px 1px #555;
  background: #ea130e;
  position: relative;
  transition: 0.3s all ease-in-out;
  z-index:1 !important;
  text-decoration: none;
}
#anasayfa-slider-baglanti a:before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  bottom: 0;
  width: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.3s all ease-in-out;
  z-index: -1;
}
#anasayfa-slider-baglanti a:hover{
  text-decoration: none;
  color: #fff !important;
}
#anasayfa-slider-baglanti a:hover:before{
  width: 100%;
}
/***************************************************************/
/* Slider Alti Blok Ayarlari */
#block-slideraltiblok {
  text-align: center;
  background: #ea130e;
}
.slogan-blok {
  display: inline-flex;
  width: auto;
  margin: 0 auto;
  padding: 5% 0;
}
.slogan-blok h2 {
  padding: 0 40px 0 0;
  color: #fff !important;
  font-weight: 700;
  font-size: 2.5em;
}
.btn-large {
  font-weight: 700 !important;
  padding: 1em 3em !important;
}
.btn-primary {
  background: #ea130e !important;
  border-color: #ea130e !important;
}
.btn-primary:hover {
  background: #b1110d !important;
}
/***************************************************************/
/* Anasayfa Blok Ayarlari */
#block-etibilisim-barrio-deneyimbilgisonuc {
  margin-bottom: 10%;
}
#block-etibilisim-barrio-deneyimbilgisonuc h2 {
  position: relative;
}
#block-etibilisim-barrio-deneyimbilgisonuc h2:after {
  content: "";
  position: absolute;
  left:0;
  bottom: -20px;
  border-bottom: 10px solid #ea130e;
  width: 120px;
}
#anasayfa-blok-yazi{
  width: 50%;
  padding: 5% 5% 0 0;
  float: left;
}
#anasayfa-blok-gorsel{
  width: 40%;
  float: left;
  position: relative;
}
#anasayfa-blok-gorsel img {
  width: 100%;
  height: auto;
  position: relative;
  border: none;
  max-width: 320px;
  float: right;
  padding-top: 20px;
}
#anasayfa-blok-gorsel:before {
  content: "";
  width: 50%;
  height: 45%;
  background: #ea130e;
  position: absolute;
  top:0px;
  right: -20px;
  z-index: 0;
}
.btn-dark {
  color: #fff !important;
  background-color: #212529 !important;
  border-color: #212529 !important;
  padding: 1.5% 10px;
}
.btn-dark:hover {
  color: #fff !important;
  background-color: #1c1f23 !important;
  border-color: #1a1e21 !important;
}
/***************************************************************/
/* Calisma - Sektor Sayfa Ici Ayarlar */
.layout--onecol{
  position: relative;
}
.field--name-field-one-cikan-gorsel{
  width: 100%;
  overflow: hidden;
  height: auto;
}
.field--name-field-one-cikan-gorsel img{
  animation: yaklastir;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 100%;
  height: auto;
}
@keyframes yaklastir{
  0% {transform:scale(1.4);}
  100% {transform: scale(1);}
}
.block-field-blocknodehizmettitle{
  position: absolute;
  top:60%;
  left: 3%;
  z-index: 9;
  color:#fff;
  font-weight: 700;
  font-size: 5vw;
  filter:drop-shadow(10px 5px 5px #000);
  width: 100%;
}
.content h4{
  color:#3b5998;
}
.block-field-blocknodesektortitle{
  position: absolute;
  top:60%;
  left: 3%;
  z-index: 9;
  color:#fff;
  font-weight: 700;
  font-size: 5vw;
  filter:drop-shadow(10px 5px 5px #000);
  width: 100%;
}
h2#-menu{
  margin:5px;
  padding: 10px 0;
}
.menu--sektorler {
  width: 100% !important;
  color: #ea130e !important;
}
.menu--sektorler li {
  width: 100%;
  background: #ea130e;
  border: 2px solid #fff;
}
.menu--sektorler li a {
  color: #fff !important;
}
.menu--sektorler li:hover {
  background: #fff;
  border-color: #ea130e
}
.menu--sektorler li:hover a {
  color: #ea130e !important;
}
/***************************************************************/
/* Hizmet-Calisma Sayfa Ayarlari */
.grid-sayfa{
  width: 31%;
  float: left;
  margin: 0 1% 2%;
  position: relative;
  overflow: hidden;
}
.grid-sayfa-baslik{
  position: absolute;
  bottom: 15%;
  left: 5%;
}
.grid-sayfa-baslik a{
  color:#fff;
  font-weight: 700;
  font-size: 2.5vw;
  filter:drop-shadow(10px 7px 5px #000);
}
.grid-sayfa-baslik a:hover{
  text-decoration: none;
}
.grid-sayfa-gorsel img{
  transition: 0.2s all ease-in-out;
}
.grid-sayfa:hover > .grid-sayfa-gorsel img{
  transition: 0.2s all ease-in-out;
  scale: 1.5;
}
/***************************************************************/
/* Urun Sayfa Ici Ayarlari */
table tr th, table tr th a, table tr th a:hover, table tr th a:focus {
  color: #000 !important;
}
.field--name-field-urun-gorselleri {
  width: 100%;
}
.field--name-field-urun-gorselleri .field__item {
  width: 31%;
  float: left;
  margin: 0 1% 3%;
}
.field--name-field-urun-gorselleri .field__item img {
  width: 100%;
  height: auto;
}
.field--label-above  {
  font-weight: 700;
}
.layout--onecol {
  display: block;
  float: left;
  width: 100%;
}
/***************************************************************/
/* Urunler Sayfa ve Blok Ayarlari */
.urun-satir {
  width: 31% !important;
  float: left;
  margin: 0 1% 3%;
}
.urun {
  text-align: center;
  position: relative;
  box-shadow: 5px 5px 5px 5px #ddd;
  border: 2px solid #ddd;
}
.urun-baslik a {
  text-decoration: none;
  color: #575757;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}
.urun-baslik {
  margin: 2% 0 0 0;
}
.urun-gorsel{
  width: 100%;
  overflow: hidden;
}
.urun-gorsel img{
  width: 100%;
  transition: 0.2s all ease-in-out;
  height: auto;
  overflow: hidden;
  filter: contrast(125%);
}
.urun-gorsel img:hover{
  transition: 0.2s all ease-in-out;

}
.urun:hover .urun-gorsel img{
  transition: 0.2s all ease-in-out;

}
#block-views-block-urunlerimiz-block-1 h2 {
  position: relative;
  margin-bottom: 5%;
}
/***************************************************************/
/* Videolar CSS Ayarlari */
.video-satir {
  width: 31% !important;
  margin: 0 1% 5%;
}
.video-gorsel img {
  width: 100%;
  height: auto;
}
.video-baslik {
  font-weight: 700;
  font-size: 1.2em;
}
/***************************************************************/
/* Featured Bottom Blok Ayarlari */

#block-eniyisiicincalisiyoruz {
  padding: 5%;
  width: 60%;
}
#block-eniyisiicincalisiyoruz h2 {
  color: #fff !important;
  font-size: 3em !important;
  position: relative;
  margin-bottom: 5%;
}
.featured-bottom h2 {
  position: relative;
  margin-bottom: 5%;;
}
.featured-bottom h2:after {
  content: "";
  position: absolute;
  left:0;
  bottom: -20px;
  border-bottom: 10px solid #ea130e;
  width: 120px;
}
#block-eniyisiicincalisiyoruz p {
  color: #fff !important;
}
/***************************************************************/
/* Blog Ayarlari */
.blog-satir {
  width: 31% !important;
  float: left !important;
  margin: 0 1% 3% 0;
}
.blog {
  position: relative;
}
.blog-gorsel img {
  width: 100%;
  height: auto;
}
.blog-tarih {
  text-align: center;
  width: 110px;
  background: #ea130e;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  padding: 2%;
  position: absolute;
  top: 5%;
  right: 5%;
  border: 3px solid #fff;
}
.blog-gun {
  font-size: 2em;
  line-height: 1em;
}
.blog-baslik {
  text-align: center;
}
.blog-baslik a{
  text-decoration: none;
  font-weight: 700;
  color: #575757;
  font-size: 1.2em;
}
/***************************************************************/
/* Duyarli Ekran Ayarlari */
@media (max-width:600px){
  .row {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
  }
  .header {
    position: initial !important;
    background: initial !important;
    z-index: initial !important;
  }
  .row.region {
    margin-bottom: 10% !important;
  }
  .row > * {
    padding: 0 0 !important;
  }
  .iletisim-ust {
    display: block;
    padding: 0 20px 0 20px;
  }
  .adres2:before {
    content: "\a";
    white-space: pre;
  }
  .region.region-top-header-form {
    text-align: center !important;
    margin: 0 0 5% 0 !important;
  }
  #navbar-top #block-dildegistirici {
    text-align: center;
  }
  #navbar-top #block-dildegistirici .nav-link {
    padding: 3px 1.58vw;
    margin: 5px 0;
  }
  #navbar-top a.language-link {
    font-size:2.3vw;
    margin: 0 !important;
    padding: 5px 3px 5px 3px;
  }
  #navbar-top a.language-link .language-icon {
    width: 5vw;
    height: auto;
  }
/*
  #block-dildegistirici {
    display: none;
  }
  #block-dildegistirici-2 {
    display: block;
  }
*/
  #block-dildegistirici-2 .links-inline {
    width: 280px;
    margin: 0 auto;
  }
  #anasayfa-slider-yazi{
    bottom: 15%;
    left: 0;
  }
  #anasayfa-slider-baslik h1{
    max-width: 70%;
    font-size: 2em !important;
  }
  #anasayfa-slider-metin p{
    font-size: 1em !important;
  }
  #anasayfa-slider-metin {
    margin: 0 auto 30px !important;
    max-width: 80%;
  }
  #anasayfa-slider-baglanti a{
    font-size: 12px;
  }
  img {
    max-width: 100% !important;
    height: auto;
  }
  .slogan-blok h2 {
    padding: 0 20px 0 0;
    font-size: 1.5em !important;;
  }
  #anasayfa-blok-yazi{
    width: 100%;
    padding: 5% 0 0 0;
    float: left;
  }
  #anasayfa-blok-gorsel{
    width: 100%;
    float: left;
    padding-top: 5%;
    position: relative;
  }
  #anasayfa-blok-gorsel img {
    width: 80%;
    height: auto;
    position: relative;
    filter: grayscale(1);
    margin: 0 10%;
  }
  #anasayfa-blok-gorsel:before {
    content: "";
    width: 60%;
    height: 52.5%;
    background: #ea130e;
    position: absolute;
    top: 55%;
    bottom: -20px;
    right: 0 !important;
    z-index: 0;
  }
  #block-etibilisim-barrio-deneyimbilgisonuc h2 {
    margin-bottom: 20px;
  }
  #block-views-block-urunlerimiz-block-1 h2 {
    margin: 60px 0;
  }
  .urun-satir {
    width: 90% !important;
    float: none;
    margin: 0 5% 5%;
  }
  .urun-baslik a {
    font-size: 1.25em;
  }
  .video-satir {
    width: 90%;
    margin: 0 5% 5%;
  }
  .featured-top, .main-content, .featured-bottom{
    padding: 0 1em;
  }
  .featured-bottom .region-featured-bottom-first, .featured-bottom .region-featured-bottom-third {
    margin: 5% auto 3%;
  }
  .featured-bottom .region-featured-bottom-second {
    background-position-y: 0;
  }
  #block-eniyisiicincalisiyoruz {
    width: 80%;
    padding: 5px 0 10px 10px !important;
    height: auto;
  }
  #block-eniyisiicincalisiyoruz h2 {
    font-size: 2em !important;
    margin-bottom: 50px;
  }
  .featured-bottom h2 {
    margin-bottom: 10%;;
  }
  .featured-bottom {
    margin: 0;
  }
  .blog-satir {
    width: 90% !important;
    margin: 2% 5% 10%;
    padding: 5% !important;
  }
  .site-footer {
    margin: 20px 0 0 !important;
    text-align: center;
  }
  .site-footer .navbar-brand {
    margin-right: 0 !important;
  }
  .field--name-field-image {
    width: 100%;
    text-align: center;
    margin: 0 0 3%;
    padding: 0 2.5%;
  }
  .main-content .field {
    padding: 0 2.5%;
  }
  .field--name-field-image img {
    width: 100%;
  }
  img.align-center,img.align-left, img.align-right {
    width: 100%;
    margin: 1% 0 3%;
  }
}
@media (min-width:600px) and (max-width:768px){
  .header {
    position: initial !important;
    background: initial !important;
    z-index: initial !important;
  }
  .row > * {
    padding: 0 0 !important;
  }
  .iletisim-ust {
    display: block;
    padding: 0 0 0 20px;
  }
  .adres2:before {
    content: "\a";
    white-space: pre;
  }
  #navbar-top #block-dildegistirici {
    text-align: center;
  }
  #navbar-top #block-dildegistirici .nav-link {
    padding: 20px 2.08vw 10px;
    margin: 5px 0;
  }
  #navbar-top a.language-link {
    font-size:2vw;
    margin: 0 !important;
    padding: 5px 3px 5px 3px;
  }
  #navbar-top .language-icon {
    width: 4.5vw
  }
/*
  #block-dildegistirici {
    display: none;
  }
  #block-dildegistirici-2 {
    display: block;
  }
  #block-dildegistirici-2 .links-inline {
    width: 280px;
    margin: 0 auto;
  }
*/
  #anasayfa-slider-yazi{
    bottom: 15%;
    left: 0;
  }
  #anasayfa-slider-baslik h1{
    max-width: 70%;
    font-size: 2em !important;
  }
  #anasayfa-slider-metin p{
    font-size: 1em !important;
  }
  #anasayfa-slider-metin {
    margin: 0 auto 30px !important;
    max-width: 80%;
  }
  #anasayfa-slider-baglanti a{
    font-size: 12px;
  }
  img {
    max-width: 100% !important;
    height: auto;
  }
  .slogan-blok h2 {
    padding: 0 20px 0 0;
    font-size: 1.5em !important;;
  }
  #anasayfa-blok-yazi{
    width: 100%;
    padding: 5% 0 0 0;
    float: left;
  }
  #anasayfa-blok-gorsel{
    width: 100%;
    float: left;
    padding-top: 5%;
    position: relative;
  }
  #anasayfa-blok-gorsel img {
    width: 80%;
    height: auto;
    position: relative;
    filter: grayscale(1);
    margin: 0 10%;
  }
  #anasayfa-blok-gorsel:before {
    content: "";
    width: 60%;
    height: 52.5%;
    background: #ea130e;
    position: absolute;
    top: 55%;
    bottom: -20px;
    right: 0 !important;
    z-index: 0;
  }
  #block-etibilisim-barrio-deneyimbilgisonuc h2 {
    margin-bottom: 20px;
  }
  #block-views-block-urunlerimiz-block-1 h2 {
    margin: 60px 0;
  }
  .urun-satir {
    width: 90% !important;
    float: none;
    margin: 0 5% 5%;
  }
  .urun-baslik a {
    font-size: 1.25em;
  }
  .video-satir {
    width: 90%;
    margin: 0 5% 5%;
  }
  .featured-top, .main-content, .featured-bottom{
    padding: 0 1em;
  }
  .featured-bottom .region-featured-bottom-first, .featured-bottom .region-featured-bottom-third {
    margin: 5% auto 3%;
  }
  .featured-bottom .region-featured-bottom-second {
    background-position-y: 0;
  }
  #block-eniyisiicincalisiyoruz {
    width: 80%;
    padding: 5px 0 10px 10px !important;
    height: auto;
  }
  #block-eniyisiicincalisiyoruz h2 {
    font-size: 2em !important;
    margin-bottom: 50px;
  }
  .featured-bottom h2 {
    margin-bottom: 10%;;
  }
  .featured-bottom {
    margin: 0;
  }
  .blog-satir {
    width: 90% !important;
    margin: 2% 5% 10%;
    padding: 5% !important;
  }
  .site-footer {
    margin: 20px 0 0 !important;
    text-align: center;
  }
  .site-footer .navbar-brand {
    margin-right: 0 !important;
  }
}
@media (min-width:768px) and (max-width:992px){
  /*#block-dildegistirici {
    display: none;
  }
  #block-dildegistirici-2 {
    display: block;
  }*/
  #block-dildegistirici-2 .links-inline {
    width: 280px;
    margin: 0 auto;
  }
}