@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h1 a, h2 a {
  font-family: 'Poppins', sans-serif !important;
  color: #151515 !important;
  text-transform: capitalize;
}
h1, h1 a {
  font-weight: 700 !important;
  color: #151515 !important;
  font-size: 3em !important;
}
h2, h2 a {
  font-weight: 700 !important;
  color: #151515 !important;
  text-transform: capitalize;
  font-size: 2.4em !important;
}
h3, h4, h5, h6, h3 a {
  font-family: 'Poppins', sans-serif !important;
  color: #151515 !important;
  font-weight: 600 !important;
}
h3, h3 a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5em !important;
}
h5, h6, h5 a, h6 a {
  font-size: 1.2em !important;
}
a, li {
  font-family: 'Poppins', sans-serif !important;
}
a:hover, li:hover {
  color: #ea130e !important;
}
body, p {
  font-family: 'Poppins', sans-serif !important;
  color: #555 !important;
  font-size: 1.125em !important;
}
@media (max-width:600px){
  h1, h1 a {
    font-size: 2em !important;
  }
  h2, h2 a {
    font-size: 1.5em !important;
  }
  h3, h3 a {
    font-size: 1.25em !important;
  }
  h5, h6, h5 a, h6 a {
    font-size: 1.125em !important;
  }
  body, p {
    font-size: 1em !important;
  }
}
@media (min-width:600px) and (max-width:768px){
  h1, h1 a {
    font-size: 2.25em !important;
  }
  h2, h2 a {
    font-size: 1.625em !important;
  }
  h3, h3 a {
    font-size: 1.325em !important;
  }
  h5, h6, h5 a, h6 a {
    font-size: 1.125em !important;
  }
  body, p {
    font-size: 1em !important;
  }
}
@media (min-width:768px) and (max-width:992px){
  h1, h1 a {
    font-size: 2.25em !important;
  }
  h2, h2 a {
    font-size: 1.625em !important;
  }
  h3, h3 a {
    font-size: 1.325em !important;
  }
  h5, h6, h5 a, h6 a {
    font-size: 1.125em !important;
  }
  body, p {
    font-size: 1em !important;
  }
}
